
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background-color: #faefe3;
    font-family: 'Playfair Display', serif;
    color: rgb(150, 32, 32);
}

@media only screen and (min-width: 600px){
    #hamburger-menu{
        display: none;
    }
}

@media only screen and (max-width: 600px){

    /* body{
    position: relative;
    left: 14%;
} */
   
    section{
        width: 50rem;
    }
    header{
        padding: 0px;
    }
    #login{
        display: none;
    }
    #signup{
        display: none;
    }
    nav{
        display: none;
    }
    .text-part h1{
        font-size: 2.5rem;
    }

    .reviews{
      
        overflow: scroll;
    }
   
}


.nav-links {
  
    background-color: #ae7d7d;
    display: none;
    position: absolute;
    background-color: #333;
    color: rgb(83, 9, 9);
 }
 .nav-links a {
    background-color: #e0d3d3;
    display: block;
    padding: 15px;
    color: rgb(75, 13, 13);
    text-decoration: none;
 }
 .nav-links a:hover {
    background-color: #ae7d7d;
 }
